* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jaro", sans-serif;
}

body {
    max-width: 960px;
    margin: auto;
}

.toptext {
    font-size: 60px;
    color: rgb(25, 83, 135);
    text-align: center;
    padding-bottom: 10px;
}

.container {
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 15px;
}

.tabela {
    display: block 100%;
    border: 1px solid;
    border-color: rgb(25, 83, 135);
    width: 100%;
    max-width: 960px;
    color: rgb(25, 83, 135);
    border-radius: 10px;
    text-align: center;
}

.tabela, td {
    border: 1px solid black;
    border-radius: 10px;
}

form {
    margin-inline-start: auto;
    margin: auto;
}

.botao {
    display: inline-flex;
    padding: 2px 4px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(25, 83, 135);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.botao:hover {background-color: rgb(25, 83, 135)}

.botao:active {
    background-color: rgb(25, 83, 135);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}